<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciamento de Estoque</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Gerenciamento de Estoque</h1>
    <nav>
      <ul>
        <li id="login"><a href="login.html">Login</a></li>
        <li id="registrar"><a href="registrar.html">Register</a></li>
        <li><a href="compras.html">Compras</a></li>
        <li><a href="estoque.html">Estoque</a></li>
        <li><a href="retiradahtml">Retirada</a></li>
        <li><a href="relatorioshtml">Relatórios</a></li>
      </ul>
    </nav>
    <div id="content">
      <section id="estoque">
        <h2>Estoque</h2>
        <!-- Controle de estoque -->
      </section>
      <section id="retirada">
        <h2>Retirada</h2>
        <!-- Controle de retirada -->
      </section>
      <section id="relatorios">
        <h2>Relatórios</h2>
        <!-- Relatórios e gráficos -->
      </section>
      <section id="history">
        <h2>Histórico de Alterações de Estoque</h2>
        <div id="history-list"></div>
      </section>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>
