<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retirada</title>
    <link rel="stylesheet" href="retirada.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index2.html">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="registrar.html">Register</a></li>
        <li><a href="compras.html">Compras</a></li>
        <li><a href="estoque.html">Estoque</a></li>
        <li><a href="relatorios.html">Relatórios</a></li>
      </ul>
    </nav>
  </body>
</html>
